:root {
  --primary-color: #111827;
  --secondary-color:#6b7280;
}

//********** DASHBOARD BLOCKS **************
.dashboard {
  max-width: 1000px;
}

//********** DASHBOARD ELEMENT **************
.page-header h1 {
  margin: 0 0 8px;
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color)
}

.page-header p {
  margin: 0;
  font-size: 15px;
  color: var(--secondary-color);
}
