//********** BEM BLOCKS **********
:host {
  display: block;
  min-height: 100vh;
}

//********** MAIN APPLICATION LAYOUT **********
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

//********** MAIN BODY LAYOUT : SIDEBAR AND CONTENT **********
.body {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 0;

  //********** MAIN CONTENT SECTION : ROUTER OUTLET **********
  &__content {
    min-width: 0;
    padding: 32px;
    box-sizing: border-box;
  }

  //********** HEADER AND FOOTER WIDTH **********
  &__header,
  &__footer {
    width: 100%;
  }
}
