
//********** BEM BLOCKS **************
.footer {
  padding: 16px 24px;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-white);
  text-align: center;
  color: var(--color-text);
  font-size: 14px;
}