/* You can add global styles to this file, and also import other style files */
:root {
  --color-white: #ffffff;
  --color-logo: #1e3a5f;
  --color-title: #1e293b;
  --color-submenu: #475569;
  --color-avatar-background: #eff6ff;
  --color-hover: #2563eb;
  --color-border: #d1d5db;
  --color-hover-active: #2563eb;
  --primary-color: #111827;
  --secondary-color:#6b7280;
}